/* общие настройки */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    background: #ffffff;
    font-family: 'Regular', sans-serif;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    border: none;
    background: #e00614;
    font-family: 'Medium', sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.btn:hover{
    background: #fff;
    color: #000000;
    transition: all .2s ease-out;
}
.title{
    font-family: 'Medium', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.text{
    font-size: 18px;
}
.attention{
    color: #e00614;
}
.input{
    border: 1px solid #e1e1e1;
    font-family: 'Regular';

}
.section{
    background: #ffffff;
}
.modal__close{
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding-top: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
/* Шрифт Plainot */
@font-face {
    font-family: 'Regular';
    src: url(../fonts/Plainot.ttf);
}
/* Шрифт Stanberry */
@font-face {
    font-family: 'Medium';
    src: url(../fonts/Stanberry.ttf);
}
/* Шрифт FloraC */
@font-face {
    font-family: 'Bold';
    src: url(../fonts/FloraC.ttf);
}
/* Шрифт Kashima */
@font-face {
    font-family: 'Large';
    src: url(../fonts/Kashima.ttf);
}
/* Голова сайта */
.header__block{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.section__header a {
    color: #ffffff;
}
.header__auth{
    margin-bottom: 15px;
    justify-content: space-around
}
.header__auth a:hover {
    opacity: 0.6;
    transition: all .1s ease-out;
}
.header__auth__box{
    display: flex;
    max-width: 350px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header__auth__box__link{
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}
.auth__icon{
    fill:#fff;
    margin-right: 5px;
}
.header__nav{
    display: flex;
    position: fixed;
    top: 110px;
    z-index: 100;
    left: 50%;
}
.header__nav__link{
    font-family: 'Bold', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    margin: 15px;
    border: 2px solid transparent;
    transition: all .4s ease-out;
}
.header__nav__link:hover{
    color:#e00614;
    border-bottom: 2px solid #e00614;
    transition: all .4s ease-out;
}
.active{
    color:#e00614;
    border-bottom: 2px solid #e00614;
}
/* Промо */
.section__promo-one{
    background: url(../img/home/sl-bg-1.jpg) no-repeat center / cover fixed;
}
.section__promo-two{
    background: url(../img/home/sl-bg-2.jpg) no-repeat center / cover fixed;
}
.section__promo-three{
    background: url(../img/home/sl-bg-3.jpg) no-repeat center / cover fixed;
}
.sl-1-block{
    align-items: center;
    text-align: center;
}
.sl-2-block{
    align-items: flex-start;
    text-align: left;
}
.sl-3-block{
    align-items: flex-end;
    text-align: right;
}
.promo__block{
    margin-top: -140px;
    padding-top: 350px;
    padding-bottom: 350px;
    display: flex;
    flex-direction: column;
}
.promo__title{
    font-family: 'Large', sans-serif;
    font-size: 62px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.promo__title::after{
    content: '';
    width:100%;
    height: 100%;
    background: url(../img/home/sign.png) no-repeat center;
    top: -50px;
    left: -100px;
    position: absolute;
    display: flex;
}
.promo__info__text{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    opacity: 0.5;
}
.promo__btn{
    margin-top: 25px;
}

/* Спец предложения */
.special__block{
    display: flex;
    align-items: center;
    text-align: center;
}
.special__text{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.special__info__box .btn:hover{
    background: rgba(255, 0, 0, 0.1);
    color: #000000;
    transition: all .2s ease-out;
}
.special__card__attention{
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.special__cards{
    display: flex;
    justify-content: space-around;
}
.special__card{
    display: flex;
    align-items: center;
    border: 2px solid #f3f3f3;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 45px;
    margin: 25px;
    max-width: 712px;
    max-height: 157px;
    width: 100%;
    justify-content: space-between;
    background: url(../img/home/banner-bg.jpg) no-repeat right bottom / cover;
}
.special__card__title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
/* Популярные */
.section__popular{
    padding-top: 45px;
    padding-bottom: 45px;
}
.popular__block{
    text-align: center;
}
.pupular__title{
    margin-bottom: 15px;
}
.product__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product__card{
    margin-top: 25px;
    display: flex;
    align-items: center;
    max-width: 450px;
    text-align: left;
    position: relative;
    width: 100%;
}
.product__card__title{
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 0.5px dashed;
}
.product__card__price{
    position: absolute;
    top: 0;
    color: #e00614;
}
.product__card__box{
    padding-left: 10px;
    padding-right: 10px;
}
.product__card__info{
    width: 100%;
}
/* Рассылка */
.section__newsletters{
    background: #ffffff url(../img/home/newsletter-bg.jpg) right no-repeat;
}
.newsletters__block{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}
.newsletters__attention{
    font-size: 24px;
    text-transform: uppercase;
}
.newsletters__title{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
}
.newsletters__text{
    max-width: 500px;
    margin-bottom: 25px;
}
.newsletters__form{
    display: flex;
}
.newsletters__input{
    padding: 15px;
    font-size: 15px;
    max-width: 520px;
    width: 100%;
}
.newsletters__btn{
    color: transparent;
    background: #e00614 url(../img/home/plus-white.png) no-repeat center;
}
.newsletters__block .btn:hover {
    color: transparent;
    background: #e00614 url(../img/home/plus-white.png) no-repeat center;
    opacity: 0.7;
}
/* Популярные категории (Категории) */
.categories__block{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.categories__title{
    margin-bottom: 15px;
}
.categories__cards{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories__card{
    max-width: 280px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
}
.categories__card:hover{
    transition: all 0.2s linear;
    border: 1px solid rgba(136, 136, 136, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(76, 76, 76, 0.2);
}
.categories__card__img:hover{
    opacity: 0.7;
    transition: all 0.2s linear;
}
/* сеты */
.section__sets{
    background: #ffffff url(../img/home/hide-bg-2.png) no-repeat left bottom;
}
.sets__block{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sets__nav__btns{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sets__title{
    margin-bottom: 15px;
}
.sets__nav__btn{
    font-size: 24px;
    opacity: 0.6;
    margin: 25px;
}
.sets__nav__btn:hover{
    font-size: 24px;
    opacity: 0.9;
    margin: 25px;
    cursor: pointer;
}
.sets__active{
    color:#e00614;
    opacity: 1;
}
.sets__slide{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.sets__slide__box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.sets__slide__box .product__cards{
    flex-wrap: nowrap;
    flex-direction: column;
}
.sets__price{
    display: flex;
    margin-top: 15px;
}
.sets__price__old{
    font-size: 24px;
    text-transform: uppercase;
}
.sets__price__new{
    margin-left: 15px;
    font-size: 34px;
    color:#e00614;
}
.sets__btn{
    margin-top: 15px;
}
.sets__slide__img{
    max-width: 700px;
    margin-right: 15px;
}
/* новости */
.news__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.news__title{
    margin-bottom: 15px;
}
.news__text{
    margin-bottom: 25px;
}
.news__cards{
    display: flex;
    justify-content: space-between;
}
.news__card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.news__card__title{
    margin-top: 15px;
    margin-bottom: 5px;
}
.news__card__date{
    margin-bottom: 15px;
    opacity: 0.7;
}
.news__card__icon{
    width: 15px;
    height: 15px;
}
.news__card__text{
    max-width: 240px;
    max-height: 240px;
}
.news__card__btn{
    margin-top: 15px;
    color:#e00614;
    cursor: pointer;
    position: relative;
}
.news__card__btn:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: #e00614;
    transform-origin: right top;
}
.news__card__btn:hover:after {
      transform: scale(1, 1);
      transform-origin: left top;
}
/* поддержка */
.support__block{
    background: url(../img/home/master-bg.jpg) no-repeat right;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    position: relative;
}
.support__block .special__card{
    background: transparent;
    border: none;
    color: #ffffff;
    justify-content: start;
    font-size: 16px;
}
.support__block .special__card__box{
    margin-right: 35px;
    margin-left: 25px;
}
.special__card__phone{
    color:#FFFFFF;
    font-size: 38px;
}
.special__card__phone:hover{
    opacity: 0.7;
}
.special__card__img-master{
    position: absolute;
    bottom: 51px;
    right: 0;
}
/* Подвал */
.section__footer{
    background: #ede6dc url(../img/home/footer.png) no-repeat bottom / cover;
}
.footer__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.footer__box{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
}
.footer__title{
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(85, 85, 85);
}
.footer__title::before{
    content: '';
    position: absolute;
    height: 3px;
    background:#e00614;
    width: 120px;
    bottom: 0;
}
.footer__link{
    color: rgb(85, 85, 85);
}
.footer__link:hover{
    opacity: 0.7;
}
/* копирайтед */
.section__copyright{
    background: #e8e1d7;
}
.copyright__block{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
}
.copyright__text{
    font-size: 24px;
    font-family: 'Large', sans-serif;
}
/* Кнопка наверх */
.up{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    background: #ffffff;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-family: 'Large';
}
/* модал рассылка */
.modal__newsletters__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 499;
    width: 100%;
    height: 100%;
}
.modal__newsletters__body{
    display: flex;
    align-items: center;
    background: #fbf4eb;
    z-index: 500;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -370px;
    padding: 25px;
}
.modal__newsletters__box{
    display: flex;
    flex-direction: column;
}
.modal__newsletters__box:first-child{
    margin-right: 50px;
}
.modal__newsletters__box:last-child{
    align-items: end;
    text-align: right;
    justify-content: end;
}
.modal__newsletters__img{
    transform: scale(-1, 1);
    width: 280px;
}
.newsletters__form-modal{
    max-width: 520px;
    width: 100%;
}
.newsletters__form-modal .newsletters__input{
    padding: 10px;
    font-size: 15px;    
}
.modal__spam{
    font-size: 10px;
    margin-top: 15px;
}
.modal__newsletters__title{
    margin-bottom: 35px;
}
.modal__newsletters__close{
    position: absolute;
    top: 0;
    right: -35px;
}
/* модал пользователь */
.modal__svg__img{
    font-size: 24px;
}
.modal__user__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 501;
    width: 100%;
    height: 100%;
}
.modal__user__body{
    position: fixed;
    right: 0;
    top: 0;
    background: #ffffff;
    height: 100%;
    max-width: 400px;
    width: 100%;
    z-index: 52;
    text-align: center;
    align-items: center;
    padding: 35px;
}
.modal__user__link{
    color: #000000;
    border: 1px solid transparent;
}
.modal__user__no-auth{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal__user__btns{
    display: flex;
    margin-top: 15px;
}
.modal__user__btn{
    padding: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    width: 170px;
    cursor: pointer;
    opacity: 0.6;
}
.modal__user__btn-active{
    opacity: 1;
    border-bottom: 2px solid #000000;
}
.form__modal__user__box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form__modal__user__label{
    text-align: left;
    margin-bottom: 15px;
}
.form__modal__user__input{
    padding: 10px;
    font-size: 24px;
}
.form__modal__user__input-btn{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
}
.form__modal__user__input-btn:hover{
    opacity: 0.7;
}
.modal__user__auth{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin-top: 15px;
}
.modal__user__auth-link{
    color: #000000;
    margin: 15px;
    transition: 0.2s;
}
.modal__user__auth-link:hover{
    opacity: 0.7;
}
.modal__user__close{
    position: absolute;
    top: 10px;
    left: -40px;
}
/* Модалки информации политика и правила  */
.modal__info__body{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -320px;
    width: 680px;
    height: 500px;
    background: #fbf4eb;
    overflow: auto;
    z-index: 504;
    padding: 15px;
}
.modal__info__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 503;
    width: 100%;
    height: 100%;
}
.modal__info__text{
    font-size: 14px;
}
.modal__info__title{
    font-size: 24px;
    margin-bottom: 15px;
}
.modal__info__close{
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -400px;
    margin-top: -250px;
}

/* missing */
.form__modal__user__box-check{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.form__modal__user__check{
    margin-right: 15px;
}
.form__modal__user__lost-link{
    color: #000000;
    text-decoration: underline;
    transition: 0.2s;
    position: absolute;
    right: 38px;
}
.form__modal__user__lost-link:hover{
    opacity: 0.7;
}
/* */
/* / общие / */
.d-none{
    display: none;
}