/* общие настройки */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    background: #ffffff;
    font-family: 'Regular', sans-serif;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    border: none;
    background: #e00614;
    font-family: 'Medium', sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.btn:hover{
    background: #fff;
    color: #000000;
    transition: all .2s ease-out;
}
.title{
    font-family: 'Medium', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}
.text{
    font-size: 18px;
    color: #000000;
}
.attention{
    color: #e00614;
}
.input{
    border: 1px solid #e1e1e1;
    font-family: 'Regular';

}
.section{
    background: #ffffff;
}
.modal__close{
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding-top: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.btn-two{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    padding: 15px;
    border: none;
}
.btn-two:hover{
    opacity: 0.7;
}
/* Шрифт Plainot */
@font-face {
    font-family: 'Regular';
    src: url(../fonts/Plainot.ttf);
}
/* Шрифт Stanberry */
@font-face {
    font-family: 'Medium';
    src: url(../fonts/Stanberry.ttf);
}
/* Шрифт FloraC */
@font-face {
    font-family: 'Bold';
    src: url(../fonts/FloraC.ttf);
}
/* Шрифт Kashima */
@font-face {
    font-family: 'Large';
    src: url(../fonts/Kashima.ttf);
}
/* Голова сайта */
.header__block{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.section__header{
    margin-top: -15px;
}
.section__header a {
    color: #ffffff;
}
.header__auth{
    margin-bottom: 15px;
    justify-content: space-around;
    z-index: 2;
}
.header__auth a:hover {
    opacity: 0.6;
    transition: all .1s ease-out;
}
.header__auth__box{
    display: flex;
    max-width: 350px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header__auth__box__link{
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}
.auth__icon{
    fill:#fff;
    margin-right: 5px;
}
.header__nav{
    display: flex;
    position: fixed;
    top: 110px;
    z-index: 100;
    left: 50%;
}
.header__nav__link{
    font-family: 'Bold', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    margin: 15px;
    border: 2px solid transparent;
    transition: all .4s ease-out;
}
.header__nav__link{
    position: relative;
}
.header__nav__link:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: #e00614;
    transform-origin: right top;
}
.header__nav__link:hover:after {
      transform: scale(1, 1);
      transform-origin: left top;
}
/* Промо */
.section__promo-one{
    background: url(../img/home/sl-bg-1.jpg) no-repeat center / cover fixed;
}
.section__promo-two{
    background: url(../img/home/sl-bg-2.jpg) no-repeat center / cover fixed;
}
.section__promo-three{
    background: url(../img/home/sl-bg-3.jpg) no-repeat center / cover fixed;
}
.sl-1-block{
    align-items: center;
    text-align: center;
}
.sl-2-block{
    align-items: flex-start;
    text-align: left;
}
.sl-3-block{
    align-items: flex-end;
    text-align: right;
}
/* slider */
/* Собственно сам слайдер */
.slider{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
}
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Large';
    background:white;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.2s;
}
@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}
/* promo */
.promo__block{
    margin-top: -140px;
    padding-top: 350px;
    padding-bottom: 350px;
    display: flex;
    flex-direction: column;
}
.promo__title{
    font-family: 'Large', sans-serif;
    font-size: 62px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.promo__title::after{
    content: '';
    width:100%;
    height: 100%;
    background: url(../img/home/sign.png) no-repeat center;
    top: -50px;
    left: -100px;
    position: absolute;
    display: flex;
}
.promo__info__text{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    opacity: 0.5;
}
.promo__btn{
    margin-top: 25px;
}

/* Спец предложения */
.special__block{
    display: flex;
    align-items: center;
    text-align: center;
}
.special__text{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.special__info__box .btn:hover{
    background: rgba(255, 0, 0, 0.1);
    color: #000000;
    transition: all .2s ease-out;
}
.special__card__attention{
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.special__cards{
    display: flex;
    justify-content: space-around;
}
.special__card{
    display: flex;
    align-items: center;
    border: 2px solid #f3f3f3;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 45px;
    margin: 25px;
    max-width: 712px;
    max-height: 157px;
    width: 100%;
    justify-content: space-between;
    background: url(../img/home/banner-bg.jpg) no-repeat right bottom / cover;
}
.special__card__title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
/* Популярные */
.section__popular{
    padding-top: 45px;
    padding-bottom: 45px;
}
.popular__block{
    text-align: center;
}
.pupular__title{
    margin-bottom: 15px;
}
.product__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product__card{
    margin-top: 25px;
    display: flex;
    align-items: center;
    max-width: 450px;
    text-align: left;
    position: relative;
    width: 100%;
    color: #000000;
}
.product__card__title{
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 0.5px dashed;
}
.product__card__price{
    display: flex;
    margin-top: -45px;
    top: 0;
    color: #e00614;
}
.product__card__price::after{
    content:'₽'
}

.product__card__box{
    padding-left: 10px;
    padding-right: 10px;
}
.product__card__info{
    width: 100%;
}
.product__card__img{
    max-width: 70px;
    max-height: 85px;
}
/* Рассылка */
.section__newsletters{
    background: #ffffff url(../img/home/newsletter-bg.jpg) right no-repeat;
}
.newsletters__block{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}
.newsletters__attention{
    font-size: 24px;
    text-transform: uppercase;
}
.newsletters__title{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
}
.newsletters__text{
    max-width: 500px;
    margin-bottom: 25px;
}
.newsletters__form{
    display: flex;
}
.newsletters__input{
    padding: 15px;
    font-size: 15px;
    max-width: 520px;
    width: 100%;
}
.newsletters__btn{
    color: transparent;
    background: #e00614 url(../img/home/plus-white.png) no-repeat center;
}
.newsletters__block .btn:hover {
    color: transparent;
    background: #e00614 url(../img/home/plus-white.png) no-repeat center;
    opacity: 0.7;
}
/* Популярные категории (Категории) */
.categories__block{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.categories__title{
    margin-bottom: 15px;
}
.categories__cards{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories__card{
    max-width: 280px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    text-decoration: none;
    color: #000000;
}
.categories__card__img{
    max-width: 280px;
}
.categories__card-active{
    transition: all 0.2s linear;
    border: 1px solid rgba(136, 136, 136, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(76, 76, 76, 0.2);
    position: relative;
    color: #e00614;
}
.categories__card-active::before{
    content: '▼';
    color: #1794e1;
    left: 50%;
    margin-left: -10px;
    bottom: -26px;
    position: absolute;
}
.categories__card:hover{
    transition: all 0.2s linear;
    border: 1px solid rgba(136, 136, 136, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(76, 76, 76, 0.2);
}
.categories__card__img:hover{
    opacity: 0.7;
    transition: all 0.2s linear;
}
/* сеты */
.section__sets{
    background: #ffffff url(../img/home/hide-bg-2.png) no-repeat left bottom;
}
.sets__block{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sets__nav__btns{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sets__title{
    margin-bottom: 15px;
}
.sets__nav__btn{
    font-size: 24px;
    opacity: 0.6;
    margin: 25px;
}
.sets__nav__btn:hover{
    font-size: 24px;
    opacity: 0.9;
    margin: 25px;
    cursor: pointer;
}
.sets__active{
    color:#e00614;
    opacity: 1;
}
.sets__slide{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.sets__slide__box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.sets__slide__box .product__cards{
    flex-wrap: nowrap;
    flex-direction: column;
}
.sets__price{
    display: flex;
    margin-top: 15px;
}
.sets__price__old{
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    padding-right: 14px;
    padding-left: 80px;
    text-decoration: line-through;
}
.sets__price__old::before{
    content: '₽';
    position: absolute;
    right: 0;
    top: 0;
}
.sets__price__old::after{
    content: 'Всего: ';
    position: absolute;
    left: 0;
    top: 0;
}
.sets__price__new{
    margin-left: 15px;
    font-size: 34px;
    color:#e00614;
    position: relative;
    padding-right: 18px;
}
.sets__price__new::before{
    content: '₽';
    position: absolute;
    right: 0;
    top: 0;
}
.sets__btn{
    margin-top: 15px;
}
.sets__slide__img{
    max-width: 700px;
    margin-right: 15px;
}
/* новости */
.news__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.news__title{
    margin-bottom: 15px;
}
.news__text{
    margin-bottom: 25px;
}
.news__cards{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.news__card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.news__card__title{
    margin-top: 15px;
    margin-bottom: 5px;
}
.news__card__date{
    margin-bottom: 15px;
    opacity: 0.7;
}
.news__card__icon{
    width: 15px;
    height: 15px;
}
.news__card__text{
    max-width: 240px;
    max-height: 240px;
}
.news__card__btn{
    margin-top: 15px;
    color:#e00614;
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
}
.news__card__btn:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: #e00614;
    transform-origin: right top;
}
.news__card__btn:hover:after {
      transform: scale(1, 1);
      transform-origin: left top;
}

.news__block .news__card .news__card__img{
    max-width: 381px;
    max-height: 217px;
}
/* поддержка */
.support__block{
    background: url(../img/home/master-bg.jpg) no-repeat right;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    position: relative;
}
.support__block .special__card{
    background: transparent;
    border: none;
    color: #ffffff;
    justify-content: start;
    font-size: 16px;
}
.support__block .special__card__box{
    margin-right: 35px;
    margin-left: 25px;
}
.special__card__phone{
    color:#FFFFFF;
    font-size: 38px;
}
.special__card__phone:hover{
    opacity: 0.7;
}
.special__card__img-master{
    position: absolute;
    bottom: 51px;
    right: 0;
}
/* Подвал */
.section__footer{
    background: #ede6dc url(../img/home/footer.png) no-repeat bottom / cover;
}
.footer__block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.footer__box{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
}
.info__title{
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(85, 85, 85);
}
.info__title::before{
    content: '';
    position: absolute;
    height: 3px;
    background:#e00614;
    width: 120px;
    bottom: 0;
}
.footer__link{
    color: rgb(85, 85, 85);
}
.footer__link:hover{
    opacity: 0.7;
}
/* копирайтед */
.section__copyright{
    background: #e8e1d7;
}
.copyright__block{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
}
.copyright__text{
    font-size: 24px;
    font-family: 'Large', sans-serif;
}
/* Кнопка наверх */
.up{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    background: #ffffff;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-family: 'Large';
}
/* модал рассылка */
.modal__newsletters__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 499;
    width: 100%;
    height: 100%;
}
.modal__newsletters__body{
    display: flex;
    align-items: center;
    background: #fbf4eb;
    z-index: 500;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -370px;
    padding: 25px;
}
.modal__newsletters__box{
    display: flex;
    flex-direction: column;
}
.modal__newsletters__box:first-child{
    margin-right: 50px;
}
.modal__newsletters__box:last-child{
    align-items: end;
    text-align: right;
    justify-content: end;
}
.modal__newsletters__img{
    transform: scale(-1, 1);
    width: 280px;
}
.newsletters__form-modal{
    max-width: 520px;
    width: 100%;
}
.newsletters__form-modal .newsletters__input{
    padding: 10px;
    font-size: 15px;
}
.modal__spam{
    font-size: 10px;
    margin-top: 15px;
}
.modal__newsletters__title{
    margin-bottom: 35px;
}
.modal__newsletters__close{
    position: absolute;
    top: 0;
    right: -35px;
}
/* модал пользователь */
.modal__svg__img{
    font-size: 24px;
}
.modal__user__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 501;
    width: 100%;
    height: 100%;
}
.modal__user__body{
    position: fixed;
    right: 0;
    top: 0;
    background: #ffffff;
    height: 100%;
    max-width: 400px;
    width: 100%;
    z-index: 502;
    text-align: center;
    align-items: center;
    padding: 35px;
}
.modal__user__link{
    color: #000000;
    border: 1px solid transparent;
}
.modal__user__no-auth{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal__user__btns{
    display: flex;
    margin-top: 15px;
}
.modal__user__btn{
    padding: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    width: 170px;
    cursor: pointer;
    opacity: 0.6;
}
.modal__user__btn-active{
    opacity: 1;
    border-bottom: 2px solid #000000;
}
.form__modal__user__box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form__modal__user__label{
    text-align: left;
    margin-bottom: 15px;
}
.form__modal__user__input{
    padding: 10px;
    font-size: 24px;
}
.form__modal__user__input-btn{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
}
.form__modal__user__input-btn:hover{
    opacity: 0.7;
}
.modal__user__auth{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin-top: 15px;
}
.modal__user__auth-link{
    color: #000000;
    margin: 15px;
    transition: 0.2s;
}
.modal__user__auth-link:hover{
    opacity: 0.7;
}
.modal__user__close{
    position: absolute;
    top: 10px;
    left: -40px;
}
/* missing */
.form__modal__user__box-check{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.form__modal__user__check{
    margin-right: 15px;
}
.form__modal__user__lost-link{
    display: flex;
    color: #000000;
    text-decoration: underline;
    transition: 0.2s;
    position: absolute;
    right: 38px;
}
.form__modal__user__lost-link:hover{
    opacity: 0.7;
}
/* Модалки информации политика и правила  */
.modal__info__body{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -320px;
    width: 680px;
    height: 500px;
    background: #fbf4eb;
    overflow: auto;
    z-index: 504;
    padding: 15px;
}
.modal__info__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background:rgba(85, 85, 85, 0.3);
    z-index: 503;
    width: 100%;
    height: 100%;
}
.modal__info__text{
    font-size: 14px;
}
.modal__info__title{
    font-size: 24px;
    margin-bottom: 15px;
}
.modal__info__close{
    position: fixed;
    right: 50%;
    top: 50%;
    margin-top: -250px;
    margin-right: -400px;
    z-index: 503;
}
/* |menu| */
/* промо */
.promo__sub-title{
    font-family: 'Large', sans-serif;
    font-size: 62px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.promo__sub-block{
    margin-top: -140px;
    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.section__promo-sub-one {
    background: url(../img/home/sl-bg-1.jpg) no-repeat top -280px right / cover fixed;
}
.promo__link{
    opacity: 0.8;
    transition: 0.2s;
}
.promo__link:hover{
    opacity: 1;
}
.section__product{
    padding-top: 45px;
    padding-bottom: 45px;
}
.product__block{
    text-align: center;
}
.product__block .categories__card{
    max-width: 130px;
}
.product__block .categories__card__img{
    max-width: 80px;
}
.product__block .categories__card__titel{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}
.product__nav{
    border-bottom: 1px solid #ede6dc;
}
/* |information| */
/* информация */
.section__information{
    background: #ffffff url(../img/home/hide-bg-2.png) no-repeat left bottom;
}
.information__block{
    padding-top: 100px;
    padding-bottom: 100px;
}
.information__video__block{
    display: flex;
    align-items: center;
}
.information__video__box{
    margin: 25px;
}
.info__text{
    color: rgb(85, 85, 85);
}
/* этапы */
.steps__cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.steps__card{
    padding: 40px;
    margin: 20px;
    border: 1px solid #ede6dc;
}
.steps__card:first-child{
    margin-left: 0px;
}
.steps__card:last-child{
    margin-right: 0px;
}
.steps__card__title{
    margin-bottom: 15px;
}
/* продукты для рицепта */
.information__recipe__block{
    border: 1px solid #ede6dc;
    padding: 40px;
}
.recipe__cards{
    display: flex;
    flex-wrap: wrap;
}
.recipe__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 13px;
    padding-bottom: 20px;
}
.recipe__card__title{
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 15px;
}
.recipe__card__text{
    display: none;
    position: absolute;
    bottom: 0;
}
.recipe__card:hover > .recipe__card__text{
    display: flex;
}
.sub-info{
    font-size: 14px;
    opacity: 0.7;
}
/* |blog| */
/* блог */
.blog__block{
    margin-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}
.blog__block .news__cards {
    flex-direction: column;
}
.blog__block .news__card {
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}
.blog__block .news__card__box {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    width: 570px;
}
.blog__block .news__card__box:first-child {
    margin-right: 25px;
}
.blog__block .news__card__img{
    max-width: 570px;
    width: 100%;
}
.blog__block .news__card__title {
    font-size: 24px;
    margin-bottom: 15px;
}
.blog__block .news__card__text {
    max-width: 570px;
    max-height: 570px;
    text-align: left;
    line-height: 25px;
}
/* |post| */
/* пост */
.post__block{
    margin-top: 50px;
    margin-bottom: 50px;
}
.post__block .news__cards{
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.post__block .news__card__box{
    width: 100%;
    text-align: left;
}
.post__block .news__card{
    width: 100%;
}
.post__block .news__card__img{
    width: 100%;
}
.post__block .news__card__title{
    margin-bottom: 15px;
}
.post__block .news__card__date{
    margin-top: 15px;
    margin-bottom: 15px;
}
.post__block .news__card__text{
    max-width: 1200px;
    max-height: 1200px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post__create{
    color: #5b1c72;
}
.social__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #ede6dc;
    border-bottom: 1px solid #ede6dc;
}
.social__link__img{
    width: 25px;
    height: 25px;
    margin: 15px;
    transition: 0.5s;
    border: 1px solid transparent;
}
.social__link__img:hover{
    border-radius: 50%;
    border: 1px solid #000;
}
.btns__block{
    align-items: center;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.btns__block .news__card__btn:last-child{
    margin-left: 15px;
}
.btns__block .news__card__btn:hover{
    opacity: 0.5;
}
/* другие посты */
.other__post__title{
    text-align: left;
    text-transform: none;
    font-size: 24px;
    margin-bottom: 15px;
}
.other__post__block .news__cards{
    justify-content: start;
}
.other__post__block .news__card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: baseline;
    margin-right: 15px;
}
.other__post__block .news__card__title{
    margin-bottom: 15px;
}
.other__post__block .news__card__text {
    margin-top: 15px;
    margin-bottom: 15px;
}
.other__post__block .news__cards .news__card__img{
    max-width: 351px;
    max-height: 217px;
}
/* комментарии */
.comments__post__block{
    margin-top: 25px;
    margin-bottom: 25px;
}
.comments__post{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}
.comment__post{
    display: flex;
    flex-direction: row;
}
.comment__box{
    display: flex;
    flex-direction: column;
}
.comment__box:first-child{
    margin-right: 15px;
}
.comment__title{
    margin-bottom: 5px;
    font-weight: bold;
}
.section__comments__post{
    margin-bottom: 85px;
}
.comment__date{
    margin-bottom: 5px;
}
.section__comments__post .comments__post__block .comments__post .comment__post {
    margin-bottom: 15px;
}
.form__coment__post__textarea{
    font-size: 18px;
    padding: 5px;
}
.form__comment__post__btn{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    padding: 15px;
    border: none;
}
.form__comment__post__btn:hover{
    opacity: 0.7;
}
/* |about| */
/* о нас */
.about__block{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.about__box:first-child{
    margin-right: 50px;
    background: #ede6dc url(../img/home/footer.png) no-repeat left / cover;
    align-items: center;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about__box{
    display: flex;
    flex-direction: column;
}
.about__box__work-hours{
    margin-bottom: 15px;
}
.about__small__title{
    font-size: 20px;
    margin-bottom: 15px;
}
.about__box__work-hours__text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.about__box__events__text{
    margin-bottom: 25px;
}
.about__box__history{
    margin-bottom: 30px;
}
.about__box__history__title{
    margin-bottom: 20px;
    text-align: left;
}
.about__box__history__text{
    max-width: 720px;
    color: #d9bd91;
    font-size: 24px;
}
.about__box__history__cards{
    display: flex;
}
.about__box__history__card{
    max-width: 350px;
}
.about__box__history__card__title{
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.about__box__history__card__title::before{
    content: '';
    height: 3px;
    width: 100px;
    background: #e6dfd4;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
}
/* |contacts| */
.contacts__block{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contacts__link{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 220px;
    width: 100%;
}
.contacts__link__text{
    padding-top: 25px;
    font-size: 24px;
}
.contacts__link:hover{
    opacity: 0.7;
}
.contacts__link__img{
    width: 70px;
    height: 70px;
}
/* контакты */
.form__contacts__box{
    display: flex;
}
.input__contacts{
    max-width: 1200px;
    width: 100%;
    margin: 10px;
}
.form__contacts .input{
    padding: 10px;
    font-size: 20px;
}
.textarea__contacts{
    margin: 10px;
}
.map__block{
    display: flex;
    justify-content: center;
}
.submit__contacts{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    border: none;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submit__contacts:hover{
    opacity: 0.7;
}
.section__special-contacts{
    margin-top: 30px;
    margin-bottom: 50px;
}
.lost_pass{
    margin-left: 10px;
    opacity: 0.8;
}
/* |c-e|*/
/* создание и редактирование форм */
.form-c-e{
    margin-top: 25px;
    margin-bottom: 25px;
}
.form-c-e-box{
    display: flex;
    flex-direction: column;
}
.label-c-e{
    padding-left: 20px;
    font-size: 20px;
    color: rgba(118, 118, 118);
}
.input-c-e{
    max-width: 1200px;
    width: 100%;
    margin: 10px;
}
.form-c-e .input{
    padding: 10px;
    font-size: 20px;
}
.textarea-c-e{
    margin: 10px;
    width: 100%;
}
.submit-c-e{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    border: none;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submit-c-e:hover{
    opacity: 0.7;
}
.form-c-e-select{
    max-width: 1200px;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    color: rgba(118, 118, 118);
    padding: 5px;
}
.admin-bar-c-e{
    margin-top: 35px;
}
/* |account| */
/* аккаунт */
.account__block{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.account__control{
    border-right: 1px solid #ede6dc;
    padding-right: 80px;
}
.account__control__box{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.account__control__box-img{
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.account__control__box-name{
    margin-top: 15px;
}
.account__control__box-email{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn__account{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn__account:not(:last-child){
    margin-bottom: 25px;
}
.btn__account:hover{
    opacity: 0.7;
    transition: 0.5s;
}
.btn__account-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.btn__account-active{
    color:#e00614;
}
/* account__userful */
.account__useful{
    margin-left: 25px;
}
.account__dashboard-title{
    margin-bottom: 15px;
    font-weight: normal;
}
.account__dashboard-test{
    margin-bottom: 15px;
}
.account__dashboard-btns{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.admin-bar{
    position: relative;
}
.admin-bar:before{
    content: 'Админ панель';
    position: absolute;
    top: -25px;
    text-transform: uppercase;
}
.account__dashboard-btn{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(255, 255, 255);
    border: 1px solid #e6dfd4;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 230px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1b1e21;
}

.account__dashboard-btn:hover{
    background:#e6dfd4;
    transition: 0.5s;
}
.account__dashboard-btn-ad:hover{
    background:rgba(224, 6, 20,0.3);
}
.account__dashboard-cards-title{
    text-align: center;
    font-weight: normal;
}
.account__sort-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.account__sort-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
}
.account__sort-card-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.account__sort-card-category{
    color:#888;
    font-size: 18px;
    margin-bottom: 5px;
}
.account__sort-card-title{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.account__sort-card-price{
    color:#e00614;
    font-size: 18px;
}

.account__sorts-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.account__sorts-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
}
.account__sorts-card-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.account__sorts-card-category{
    color:#888;
    font-size: 18px;
    margin-bottom: 5px;
}
.account__sorts-card-title{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.account__sorts-card-price{
    color:#e00614;
    font-size: 18px;
    padding-right: 0px;
    position: relative;
}
.account__sorts-card-price::after{
    content: '₽';
    right: 0;
    top: 0;
}
.account__reviews .comments__post{
    display: flex;
    flex-wrap: wrap;
}
.account__reviews .comment__post{
    margin-bottom: 15px;
}
.account__reviews .comment__link{
    margin-top: 15px;
    color:#e00614;
}
.account__reviews .comment__link:hover{
    color:rgba(224, 6, 20,0.5);
    transition: 0.5s;
}
.form__account__upload{
    display: flex;
    flex-direction: column;
}
.input__account__upload{
    margin-top: 15px;
    margin-bottom: 15px;
}
.form__account__upload-btn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.label__account__upload{
    opacity: 0.7;
}
.account__details{
    width: 70%;
}
.from__account__details__reset-pass{
    margin-top: 15px;
}
.from__account__details__reset-pass-title{
    color:rgb(85, 85, 85);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.from__account__details__reset-pass{
    border: 1px solid rgb(85, 85, 85);
    padding: 15px;
}
.form__account__details__box{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}
.form__account__details-label{
    font-size: 20px;
    color:rgb(85, 85, 85);
    margin-bottom: 10px;
}
.form__account__details-input{
    padding: 5px;
    font-size: 20px;
}
.form__account__details-btn{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    padding: 15px;
    border: none;
    max-width: 280px;
    font-size: 15px;
}
.form__account__details-btn:hover{
    opacity: 0.7;
}
.form__account__logount-btn{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: 0.2s;
    padding: 15px;
    border: none;
    max-width: 75px;
    font-size: 15px;
    margin-top: 15px;
    text-decoration: none;
    display: flex;
}
.form__account__logount-btn:hover{
    opacity: 0.7;
}
.all__account__reviews{
    width: 100%;
}
.pagination{
    display: flex;
    text-decoration: none;
}
.page-item:first-child{
    transform: scale(-1, 1);
}
.page-item{
    list-style-type: none;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid #1b1e21;
    align-items: center;
    text-align: center;
}
.page-item:hover{
    background: rgba(0,0,0,0.2);
    border: 1px solid #1b1e21;
}
.page-link{
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    margin-bottom: -2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.page-link:hover{
    color: red;
}
.active{
    /*border: 1px solid rgba(0,0,0,0.2);*/
}
.active{
    color:#e00614;
    border-bottom: 2px solid #e00614;
}
.active:hover{
    color:#e00614;
    border-bottom: 2px solid transparent;
    background: #e00614;
}
.all-info .comment__post{
    border: 1px solid #1b1e21;
    padding: 15px;
}
/* |products| */
/* sorts */
.sorts__block{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sorts__category{
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.sorts__category-title{
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ede6dc;
}
.sorts__category-btn{
    color: #888;
    margin: 5px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 18px;
}
.sorts__category-btn:hover{
    color: #000;
    transition: 0.5s;
}
.sorts__category-btn-active{
    color: #000;
}
.sorts__category-btn-img{
    width: 25px;
    height: 25px;
}
.sorts__category .sorts__category-btn-adm{
    align-items: start;
    text-align: start;
    justify-content: start;
    font-size: 18px;
}
/* |product| */
/* sort */
.sort__block{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sort__block__info-box{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sort__block__info-box-img{
    width: 100%;
}
.sort__block__info-box-title{
    font-weight: normal;
    font-size: 24px;
}
.sort__block__info-box-price{
    margin-top: 10px;
    font-size: 20px;
    color:rgba(224, 6, 20,1);
}
.sort__block__info-box-description{
    display: flex;
    font-size: 20px;
    margin-top: 15px;
}
.sort__block__info-box-description-text{
    color: #888;
}
.sort__block__info-box-link {
    color:#888;
}
.sort__block__info-box-link:hover {
    color:#000;
    transition: 0.5s;
}
.sort__block__info-box-link-img{
    width: 15px;
    height: 15px;
    opacity: 0.7;
    margin-left: 10px;
}
.sort__block__info-box-link-img:hover{
    opacity: 1;
    transition: 0.5s;
}
.sort__block .sort__block__info-box .btns__block{
    text-align: start;
}
/* |product| */
/* |reviews| */
.reviews__title{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #e00614;
    border-bottom: 1px solid #ede6dc;
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}
.reviews__title::before{
    content: '';
    width: 83px;
    height: 2px;
    position: absolute;
    background: #e00614;
    bottom: 0;
}
.reviews__block{
    display: flex;
}
.rewiews__box{
    width: 50%;
    margin: 25px;
}
.reviews__sub-title{
    text-align: start;
    font-weight: normal;
    text-transform: uppercase;
    color: #888;
    border-bottom: 1px solid #ede6dc;
    position: relative;
    padding-bottom: 5px;
}
.reviews__form-text{
    color: #000;
    font-weight: normal;
    font-size: 20px;
    margin-top: 35px;
}
.stars__box{
    margin-top: 15px;
    display: flex;
}
.stars{
    cursor: pointer;
    display: flex;
}
.stars:not(:last-child){
    margin-right: 15px;
}
.star{
    width: 15px;
    height: 15px;
    opacity: 0.6;
}
.stars:hover .star {
    opacity: 1;
}
.active-star .star{
    opacity: 1;
}
.rewiews__box .comments__post .comment__post{
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}
.comments__post__block-nums{
    margin-top: 15px;
}
.comment__box .stars__box{
    position: absolute;
    right: 0px;
}
.account__reviews .comment__box .stars__box{
    position: absolute;
    right: 20%;
}
.comment__box .star{
    opacity: 1;
}
.reviews__form-textarea{
    border: 1px solid #ede6dc;
    margin-top: 15px;
}
.comment__tool{
    margin-top: 15px;
}
.comment__link{
    cursor: pointer;
    background: none;
    border: none;
}
.comment__link:hover{
    color:rgba(224, 6, 20,1);
    transition: 0.2s;
}
.products_link{
    color: #1b1e21;
}
/* бургер */
.modal__burger__body{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -343px;
    width: 680px;
    height: 500px;
    background: transparent;
    overflow: auto;
    z-index: 504;
    padding: 15px;
}
.modal__burger__overlay{
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0,0.8);
    z-index: 503;
    width: 100%;
    height: 100%;
}
.modal__burger__close{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 503;
}
.burger__nav{
    display: flex;
    flex-direction: column;
}
.burger__nav__link{
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
}
.modal__burger .active:hover {
    background: transparent;
}
.burger__nav__link:hover{
    color:#e00614;
}
/* / общие / */
.d-none{
    display: none;
}
/* Адаптация */
.section__promo-one-adpt{
    display: none;
}
.modal__close:hover{
    opacity: 0.7;
}
.btn-auth-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.btn-burger-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.btn-auth{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
}
.btn-auth:hover{
    opacity: 0.7;
}
.form__coment__post__textarea{
    max-width: 1200px;
    width: 100%;
}
/* флеш сообщение */
.alert{
    display: flex;
    position: fixed;
    left: 50%;
    top: 15%;
    z-index: 1111;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-left: -110px;
    justify-content: space-around;
    background: #fbf4eb;
    max-width: 222px;
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
}
.alert-close{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.alert-close:hover{
    font-weight: bold;
}

.alert-success{
    background: #2d995b;
    color: #FFFFFF;
}
.alert-success .alert-close {
    color: #FFFFFF;
}
.alert-danger{
    background: #ff4e00;
    color: #FFFFFF;
}
.alert-danger .alert-close {
    color: #FFFFFF;
}
.alert-warning{
    background: #b70a00;
    color: #FFFFFF;
}
.alert-warning .alert-close {
    color: #FFFFFF;
}
/* dop */
.small{
    font-size: 12px;
}
.title-link{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.title-link:hover{
    opacity: 0.5;
}
@media (max-width:1200px) {
    .special__block,.newsletters__block, .comments__post__block, .about__block, .account__block, .sorts__block,.special__cards,.section__other__post,.form-c-e{
        padding-left: 3%;
        padding-right: 3%;
    }
    .section__newsletters{
        background: #fcf5eb url(../img/home/newsletter-bg.jpg) right -500px top no-repeat;
    }
    .special__cards{
        margin-top: 15px;
    }
    .special__card{
        flex-direction: column;
        max-height: 100%;
        text-align: center;
    }
    .special__card__attention{
        display: flex;
        margin-top: 15px;
    }
    .special__card__img{
        margin-bottom: 15px;
    }
    .sl-2-block{
        padding-left: 55px;
    }
    .sl-3-block{
        padding-right: 55px;
    }
    .header__auth__link{
        max-width: 110px;
    }
    .sets__slide{
        flex-direction: column;
    }
    .sets__slide__box .product__cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sets__price{
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .sets__btn {
        margin: auto;
    }
    .sets__slide__img{
        margin-right: 0px;
    }
    .news__cards{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .news__card{
        padding: 15px;
    }
    .support__block{
        justify-content: center;
    }
    .special__card{
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .special__card__img-master{
        bottom: -14px;
    }
    .support__block{
        background: #d9bc90 url(../img/home/master-bg.jpg) no-repeat right bottom / cover;
    }
    .special__card:last-child{
        display: none;
    }
    .blog__block .news__card__box{
       width: auto;
    }
    .social__links{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .account__dashboard-btns{
        flex-wrap: wrap;
    }
    .account__dashboard-btn{
        margin: 5px;
    }
    .reviews__form-textarea{
        width: 100%;
    }
}
@media (max-width:992px) {
    .account__reviews .comment__box .stars__box{
        position: absolute;
        right: 0;
    }
    .header__auth__box__link{
        display: flex;
        flex-direction: column;
    }
    .special__block{
        flex-direction: column-reverse;
    }
    .title{
        font-size: 28px;
    }
    .title-link{
        font-size: 18px;
    }
    .modal__newsletters__close{
        right: 5px;
        top: 5px;
    }
    .modal__newsletters__body{
        flex-direction: column;
        margin-left: -209px;
    }
    .modal__newsletters__box:first-child{
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .modal__info__close{
        margin-top: -290px;
        margin-right: -357px;
    }
    .modal__info__body{
        max-width: 600px;
        max-height: 500px;
        width: 100%;
    }
    .steps__cards{
        flex-wrap: wrap;
    }
    .steps__card:first-child{
        margin-left: 20px;
    }
    .steps__card:last-child{
        margin-right: 20px;
    }
    .about__block{
        flex-direction: column-reverse;
    }
    .about__box:first-child{
        margin-right: 0px;
        margin-top: 25px;
    }
    .account__sort-cards{
        justify-content: center;
    }
    .account__sorts-cards{
        justify-content: center;
    }
}
@media (max-width:768px) {
    .header__nav , .header-auth, .header-tell, .header-mailing{
        display: none;
    }
    .btn-auth{
        display: flex;
    }
    .header__auth{
        position: fixed;
        margin-right: 15px;
        background:rgb(85, 85, 85);
        width: 100%;
    }
    .header__block {
        padding-top: 0px;
    }
    .header__logo{
        width: 68px;
    }
    .special__img__box{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .special__img__box-img{
        max-width: 376px;
    }
    .section__newsletters{
        background: #fcf5eb;
    }
    .newsletters__block{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .categories__cards{
        justify-content: center;
    }
    .sets__slide__img{
        max-width: 367px;
    }
    .footer__block{
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px;
    }
    .footer__box:first-child{
        margin-top: 15px;
    }
    .modal__info__body{
        max-width: 390px;
        margin-left: -202px;
    }
    .modal__info__close{
        margin-right: -184px;
    }
    .information__video__block{
        flex-direction: column-reverse;
    }
    .blog__block .news__cards .news__card{
        flex-direction: column;
    }
    .blog__block .news__card__box:first-child{
        margin-right: 0px;
        width: 100%;
    }
    .about__box__history__cards{
        flex-wrap: wrap;
    }
    .reviews__block{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .sort__block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rewiews__box{
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media (max-width:576px) {
    .form-c-e{
        margin-right: 3%;
    }
    .form-c-e-box{
        flex-direction: column;
        margin-left: -3%;
    }
    .special__cards{
        flex-wrap: wrap;
    }
    .slider{
        display: none;
    }
    .section__promo-one-adpt{
        display: block;
    }
    .modal__user__close{
        left: 15px;
    }
    .news__card__img{
        width: 100%;
    }
    .special__img__box-img{
        max-width: 220px;
    }
    .sets__nav__btns{
        flex-direction: column;
    }
    .sets__slide__img{
        max-width: 220px;
    }
    .modal__newsletters__body{
        padding: 5px;
        margin-left: -139px;
        max-width: 270px;
    }
    .modal__newsletters__box:first-child{
        margin-right: 0px;
        display: none;
    }
    .newsletters__input{
        max-width: 220px;
    }
    .modal__info__body{
        max-width: 270px;
        margin-left: -128px;
    }
    .modal__info__close{
        margin-right: -140px;
    }
    .modal__newsletters__close{
        top: -35px;
        right: 0;
    }
    .information__video__box:first-child{
        display: none;
    }
    .recipe__cards{
        justify-content: center;
    }
    .promo__sub-title{
        font-size: 52px;
    }
    .promo__title{
        font-size: 52px;
    }
    .post__block .news__card__text {
        margin-bottom: 78px;
    }
    .about__box__history__cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts__block{
        flex-wrap: wrap;
    }
    .contacts__link{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .account__block{
        flex-direction: column;
    }
    .account__control__box{
        align-items: center;
    }
    .account__control{
        padding-right: 0px;
        border-right: 0px;
        margin-bottom: 15px;
    }
    .btn__account{
        flex-direction: column;
    }
    .account__details{
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .form__account__details{
        max-width: 220px;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .account__useful{
        margin-left: 0px;
    }
    .sorts__block{
        flex-direction: column;
    }
    .sort__block__info-box-description{
        flex-wrap: wrap;
    }
    .account__reviews .comment__box .stars__box{
        position: absolute;
        left: 5%;
    }
    .account__reviews .comments__post .comment__post{
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }

}
